* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
}

header {
    background-color: aquamarine;
    margin-top: 70px;
}

main {
    background-color: blue;
    flex-grow: 3;
}

footer {
    background-color: aqua;
    margin-bottom: 24px;
}